:root {
  --color-header: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #555;
}

.header {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logo {
  display: block;
  height: 40px;
  width: 40px;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 60px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.nav__item:not(:last-child) {
  margin-right: 20px;
}

.is-active {
  color: var(--color-header);
}

.nav__link.is-active {
  position: relative;
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-header);
  border-radius: 8px;
}

.nav__link:hover {
  color: var(--color-header);
}