/* Сброс */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Переменная цвета */
:root {
  --blue: #00acdc;
}

/* Шрифт */
body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */
.header {
  height: 60px; /* важно — в одном месте */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

/* ЛОГО */
.logo img {
  height: 40px;
  display: block;
}

/* СПИСОК */
.nav__list {
  display: flex;
  list-style: none;
}

/* ССЫЛКИ */
.nav__link {
  display: flex;
  align-items: center;
  height: 60px;
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  position: relative;
}

/* HOVER */
.nav__link:hover {
  color: var(--blue);
}

/* АКТИВНЫЙ */
.is-active {
  color: var(--blue);
}

/* ЛИНИЯ ПОД АКТИВНЫМ */
.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--blue);
}